DATABASE_URL=postgresql://postgres:postgres@localhost:54329/urbann_local?schema=public

MERCADO_PAGO_ACCESS_TOKEN=TEST-REPLACE_ME
MERCADO_PAGO_PUBLIC_KEY=TEST-REPLACE_ME
NEXT_PUBLIC_MERCADO_PAGO_PUBLIC_KEY=TEST-REPLACE_ME
